[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
osfclient = "*"
pandas = "*"
arrow = "*"

[dev-packages]
pytest = "*"
ipython = "*"

[requires]
python_version = "3.6"
